@model IEnumerable<ERP.Web.Models.Database.XL_DANG_KY_PHE_DUYET>

@{
    ViewBag.Title = "Index";
}

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/Donhangdukien.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Services/ChecktonService.js"></script>
<script src="~/Content/self-writing/js/Controllers/ChecktonCtrl.js"></script>

<div class="panel-heading title">Bạn đang ở mục check tồn kho</div>
<br />
<div ng-app="myApp" >
    <div class="content" ng-controller="ChecktonCtrl">


        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" style="width: 60%" class="form-control" placeholder="Search Here" ng-model="search_text">
                </div>
            </form>
        </div>

        <table id="example" class="table table-bordered" cellspacing="0" name="tblhanghoa">
            <thead>
                <tr>
                    <th>Mã hàng</th>
                    <th>Hãng </th>
                    <th>Đơn vị</th>
                    <th>Tồn Hợp Long</th>
                    <th>Tồn HCM</th>
                    <th>Tồn ĐN</th>
                    <th>Tồn tại hãng</th>
                    <th>Tồn kho giữ</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="item in filtered = (listtonkho | filter: {mahang:search_text}) | itemsPerPage:15 | orderBy: 'item.mahang'" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="text-left">{{ item.mahang }}</td>
                    <td class="text-left">{{item.manhomhang}}</td>
                    <td class="text-left">{{item.donvitinh}}</td>
                    <td class="text-left">{{item.tonkhohoplong}}</td>
                    <td class="text-left">{{item.tonkhoHCM}}</td>
                    <td class="text-left">{{item.tonkhoDN}}</td>
                    <td class="text-left">{{item.tonkhohang}}</td>
                    <td class="text-left">{{item.tonkhogiu}}</td>
                   

                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="~/Content/download/angularjs/angular-ui-router.js"></script>


